{"bundle.css" ["tachyons.min.css"
               "dropzone.css"
               "app.css"]
 "bundle.js" ["jquery-3.3.1.min.js"
              "sweetalert.min.js"
              "dropzone.js"
              "app.js"]}
